body{
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: hsl(8, 45%, 69%);
}

#breaktimes{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

h1{
    font-size: 2rem; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsl(55, 68%, 90%);
    margin: 10px;
    padding: 10px;
    transition: background-color 0.2s ease;
    border-radius: 20px;
    width: 200px;
}

h1:hover{
    background-color: hsl(8, 45%, 79%);
    border-radius: 20px;
    cursor: pointer;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #0A3323;
    border-radius: 50px;
    padding: 30px;
    background-color: hsl(191, 73%, 23%);
}

#display{
    font-size: 5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: hsl(55, 68%, 90%);
    text-shadow: 2px 2px 2px #0A3323;
    margin-bottom: 25px;
}

#controls button{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: hsl(55, 68%, 90%);
    transition: background-color 0.2s ease;
}

#start{
    background-color: hsl(80, 27%, 47%);
}

#start:hover{
    background-color: hsl(80, 27%, 37%);
}

#stop{
    background-color: hsl(0, 48%, 54%);
}

#stop:hover{
    background-color: hsl(0, 48%, 44%);
}

#reset{
    background-color: hsl(204, 36%, 56%);
}

#reset:hover{
    background-color: hsl(204, 36%, 46%);
}

#skip{
    background-color: hsl(300, 27%, 49%);
}

#skip:hover{
    background-color: hsl(300, 27%, 39%);
}

#tomatoCounter, #skipCounter{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
    color:hsl(55, 68%, 90%);
    margin-top: 10px;
}

@media (max-width: 750px){
   #controls button{
    font-size: 1rem;
    min-width: 100px;
    }

    h1{
        font-size: 1.5rem;
        width: 150px;
    }
}

@media (max-width: 550px){
    #controls button{
    font-size: 1rem;
    min-width: 50px;
    }

    h1{
        font-size:1rem;
    }

    #breaktimes{
        width: 450px;
    }
}
